body {
    font-family: sans-serif;
    margin: 0;
    text-align: center;
    background-color: #0d3088;
    color: #fff
}

.App {
    max-width: 1200px;
    margin: 1rem auto;
    padding: 2rem;
}

.App h1 {
    font-size: 2.5rem;
    margin: 1.25rem;
}

.card-grid {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
}

.card {
    border: 1px solid rgb(148, 65, 236);
    width: 100%;
    height: 200px;
}

.face {
    border: 1px solid rgb(52, 224, 237);
    width: 100%;
    height: 200px;
}